body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #050104;
}

/* Header */
header {
    background-color: #2f0a36;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Nav */
nav {
    background-color: #d6b6d6;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #210127;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main */
main {
    padding: 2rem;
    text-align: center;
}

/* Footer */
footer {
    background-color: #77427e;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}